<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is, {{ name }}</h1>
    <img src="http://www.about.tarung2017.com/foto/720.jpg" width="300" height="250">
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>Kampus : {{tempatkuliah}}</article>
    <article>Hobi : {{hobi}}</article>
    <article>Deskripsi : {{deskripsi}}</article>

	<h1>This is my friend, {{ friendname_1 }}</h1>
    <img src="http://www.about.tarung2017.com/foto/334.jpg" width="300" height="250">
    <article>NPM : {{ friendnpm_1 }}</article>
    <article>Umur : {{ friendage_1 }} tahun</article>
    <article>Kampus : {{tempatkuliah}}</article>
    <article>Hobi : {{friendhobi_1}}</article>
    <article>Deskripsi : {{frienddeskripsi_1}}</article>

    <h1>This is my friend, {{ friendname_2 }}</h1>
    <img src="http://www.about.tarung2017.com/foto/837.jpg" width="300" height="250">
    <article>NPM : {{ friendnpm_2 }}</article>
    <article>Umur : {{ friendage_2 }} tahun</article>
    <article>Kampus : {{tempatkuliah}}</article>
    <article>Hobi : {{friendhobi_2}}</article>
    <article>Deskripsi : {{frienddeskripsi_2}}</article>

</body>
</html>
